html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #C00;
	color: #090909;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 20px;
    margin-bottom:100px;
}

a {
	color: #090909;
}

h1 {
font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -3px;
	font-family: 'Gravitas One', cursive;
    margin: 100px 0 40px 0;
}
h2 {
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 40px;
    line-height: 34px;
    letter-spacing: -2px;
	font-family: 'Gravitas One', cursive;
}

#finder {
	display: none;
}

#settings{
    position:fixed;
    height:100px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding:10px;
}

#settings img{
	height: 80px;
}

#compass {
	width: 100%;
	max-width: 600px;
	margin: auto;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}

#noCompass {
	width: 80%;
	max-width: 600px;
	margin: auto;
	margin-top: 50px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}

#encour {
	margin: 30px;
}

#distText {
	margin: auto;
	font-size: 50px;
	font-weight: 900;
	text-align: center;
}

img {
	max-width: 100%;
	margin: auto;
}

@media screen and (min-width: 400px){	
	h1 {
	font-style: normal;
	    font-size: 72px;
	    line-height: 60px;
	    letter-spacing: -4px;
	}
	h2 {
	    font-size: 48px;
	    line-height: 40px;
	    letter-spacing: -3px;
	}
	#encouragementTitle, #drunkenness{
	    font-size: 20px;
	    line-height: 30px;
	    letter-spacing: -1px;
	}
}

@media screen and (min-width: 600px){	
	body {
		font-size: 30px;
		margin-bottom: 120px;
	}
	#controller{
	    height:120px;
	}
	h1 {
	font-style: normal;
	    font-size: 100px;
	    line-height: 84px;
	    letter-spacing: -6px;
	}
	h2 {
	    font-size: 72px;
	    line-height: 64px;
	    letter-spacing: -4px;
	}
	#encouragementTitle, #drunkenness{
	    font-size: 30px;
	    line-height: 45px;
	    letter-spacing: -2px;
	}
}

@media screen and (min-width: 800px){	
	body {
		font-size: 40px;
		margin-bottom: 140px;
	}
	#controller{
	    height:140px;
	}
	h1 {
	font-style: normal;
	    font-size: 144px;
	    line-height: 120px;
	    letter-spacing: -8px;
	}
	h2 {
	    font-size: 96px;
	    line-height: 80px;
	    letter-spacing: -6px;
	}
	#encouragementTitle, #drunkenness{
	    font-size: 40px;
	    line-height: 60px;
	    letter-spacing: -2px;
	}
}

@media screen and (min-width: 1000px){	
	body {
		font-size: 50px;
		margin-bottom: 140px;
	}
	#controller{
	    height:140px;
	}
	h1 {
	font-style: normal;
	    font-size: 180px;
	    line-height: 150px;
	    letter-spacing: -10px;
	}
	h2 {
	    font-size: 120px;
	    line-height: 100px;
	    letter-spacing: -7.5px;
	}
	#encouragementTitle, #drunkenness{
	    font-size: 50px;
	    line-height: 75px;
	    letter-spacing: -2.5px;
	}
}

@media screen and (min-width: 1200px){	
	body {
		font-size: 60px;
		margin-bottom: 160px;
	}
	#controller{
	    height:160px;
	}
	h1 {
	font-style: normal;
	    font-size: 216px;
	    line-height: 180px;
	    letter-spacing: -12px;
	}
	h2 {
	    font-size: 144px;
	    line-height: 120px;
	    letter-spacing: -9px;
	}
	#encouragementTitle, #drunkenness{
	    font-size: 60px;
	    line-height: 90px;
	    letter-spacing: -3px;
	}
}


